/* Variables estandar */
$bgcolor: #CAF0F8;
$bgcolorbody: #03045E;
$textcolor: #1f5307;
$bgcolordisx: #ebebeb;
$textcolordisx: #000000;

  /* Uso las variables */
body {
    //background-color: $bgcolor;
}